<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
</head>
<body>


<div id="app">

    <div class="search-block">
        Search car:
        <input type="text" v-model="search">
    </div>

    <ol class="list">
        <li
                v-for="(car, index) in filteredCars"
                class="list__car"
                :class="{'active': selectedCar === index}"
                @click="clickCar(index)"
        >
            {{ car.name }} - {{ car.model }}
        </li>
    </ol>

    <div class="cars">
        <div class="cars__car">
            <div class="cars__img">
                <img :src="carShow.img" :alt="carShow.name">
            </div>
            <div class="cars__name">Name - {{ carShow.name }}</div>
            <div class="cars__model">Model - {{ carShow.model }}</div>
            <div class="cars__year">Year - {{ carShow.year }}</div>
            <div class="cars__phone">
                <transition name="phone">
                    <div v-if="visiblePhone">{{ carShow.phone }}</div>
                </transition>
            </div>
            <div>
                <button class="btn btn-outline-success" @click="visiblePhone = !visiblePhone">{{ phoneBtnText }}</button>
                <button class="btn btn-primary" @click="visibleModal = true">Buy</button>
            </div>
        </div>
    </div>

    <div v-if="logs.length !== 0">
        <ul class="list-group">
            <li
                    v-for="log in logs"
                    class="list-group-item"
                    :class="{
                        'list-group-item-danger': log.type === 'cancel',
                        'list-group-item-success': log.type === 'ok'
                    }"
            >
                {{ log.text }} - {{ log.date | date }}
            </li>
        </ul>
    </div>

    <transition name="modal">
        <div class="modal-window" v-if="visibleModal">
            <span class="close" @click="visibleModal = false">&#10006;</span>
            <h3>Modal window</h3>
            <p>Current car - <strong>{{ carShow.name }}</strong></p>
            <div class="cars__name">Name - {{ carShow.name }}</div>
            <div class="cars__model">Model - {{ carShow.model }}</div>
            <div class="cars__year">Year - {{ carShow.year }}</div>
            <div>
                <button @click="newOrder">Buy</button>
                <button @click="cancelOrder">Cancel</button>
            </div>
        </div>
    </transition>
    <div class="overlay" v-if="visibleModal" @click="visibleModal = false"></div>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<script src="app.js"></script>

</body>
</html>